@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

// Text Color
$black: #000;
$hotpink: #ae1332;
$freshgreen: #a4cb66;
$yellow: #f5ce13;
$white: #fff;

// Background Color
$background-flesh: #ffc3c5;
$strawberry: #f8766b;
$banana: #edd251;
$watermelon: #9dc262;
$lime: #bfd663;
$apple: #e93f29;
$peach: #db4f4b;
$plum: #9b5366;
$orange: #f47f4c;
$kiwi: #98b37e;
$pop-up: #e03f5e;
$send-submit: #9dc162;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.icon {
  fill: currentColor;
  stroke: currentColor;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%) clip rect(0 0 0 0) overflow hidden;
}
