<header class="header">
  <div class="wrapper">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">How it Works</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">Fruits</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#">Contacts</a>
        </li>
      </ul>
      <div class="header-logo">
        <svg class="header-logo-icon">
          <use href="/src/images/icons.svg#logo"></use>
        </svg>
        <a class="logo-text" href="#"><span>FRESH HARVEST BOX</span> </a>
      </div>
      <button class="btn">
        <svg class="bakset-logo">
          <use href="/src/images/icons.svg#basket"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
